body{
 padding:0;
 margin:0;
 transition:0.5s;
}
.mdc-text-field{
 width:100%;
}
.mdc-top-app-bar{
 top:0px;
}
.mdc-fab{
 position: fixed;
 bottom: 1rem;
 right: 1rem;
 transition:0.2s;
}
.mdc-fab-hide{
 transform:scale(0);
}
@media(min-width: 1024px) {
 .mdc-fab{
	bottom: 1.5rem;
	right: 1.5rem;
 }
}
.screen{
 margin:10px;
}
.lyrics span{
 text-align:center;
 display:inline-block;
 width:100%;
}
.to-about{
 text-align:center;
}
a,a:link,a:hover,a:visited,a:active{
 color: #4169e1;
}
.load-initial{
 position:absolute;
 left:50%;
 top:50%;
 transform:translate(-50%,-50%);
}
.lds-hourglass {
 display: inline-block;
 position: relative;
 width: 80px;
 height: 80px;
}
.lds-hourglass:after {
 content: " ";
 display: block;
 border-radius: 50%;
 width: 0;
 height: 0;
 margin: 8px;
 box-sizing: border-box;
 border: 32px solid #4169e1;
 border-color: #4169e1 transparent #4169e1 transparent;
 animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
 0% {
	transform: rotate(0);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
 }
 50% {
	transform: rotate(900deg);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 100% {
	transform: rotate(1800deg);
 }
}
#screen-album .mdc-text-field{
 margin-bottom:5px;
}
#screen-album .mdc-card__media{
 display:block;
 margin-left: auto;
 margin-right: auto;
 width:250px;
}
#screen-history{
 display: flex;
 justify-content: space-between;
}
#screen-history .mdc-card{
 width:200px;
}
#screen-history .empty{
 width: 100%;
}
#screen-history .empty lottie-player{
 position:relative;
 left:50%;
 transform:translate(-50%);
}
#screen-history .empty h2{	
 text-align: center;
}
#screen-music img{
 display:block;
 margin-left: auto;
 margin-right: auto;
 width:250px;
}
#screen-music h2{
 text-align:center;
}
#screen-music .material-icons{
 vertical-align:middle;
}
#screen-music iframe{
 width:100%;
 height:360px;
}
#screen-settings img{
 width:125px;
 height:125px;
 border-radius:50%;
 vertical-align: text-top;
}
#screen-settings .user-info{
 margin-left:15px;
}

